
.headline {
    margin-bottom: 2em;
}

.card {
    border: 1px solid wheat
}

.card-body {
    padding: 1rem;
}
.card-text{
    color: wheat;
}
body{
    background-image: url("../background\ \(1\).png");
}
.top-headlines {
    text-align: center;
    text-decoration: wavy;
    color: wheat;
    font-size: 40px;
    
}
@media screen and (min-width:800px){
    #message{
        position: absolute;
        top: 150px;
        left: 400px;
    }

    .navbar-brand{
        text-align: right;
    }
    
}