<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-danger py-4" style='background-color:rgb(164, 48, 48)'>

<div class="navbar navbar-inverse" role="navigation" > 
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src='{{ url_for('static',filename='logo.jpeg')}}' class='rounded-3' alt="" width="90" height="45" />
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> News Desk </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Sources</a></li>
            </ul>
        </div>

    </div>
</div>
</nav>